Repository bankidz/bankidz-server, pull requests merged in 2022-10, with the labels that each got.

#250 v1.1.1 버전 배포
  src/main/java/com/ceos/bankids/mapper/FamilyMapper.java
  src/main/java/com/ceos/bankids/service/FamilyUserService.java
  src/main/java/com/ceos/bankids/service/FamilyUserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/FamilyControllerTest.java
Labels: For: API, Type: Refactor, Type: Test

#251 feat: 돈길 파트 테스트 코드 작성 완료
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/mapper/ChallengeMapper.java
  src/main/java/com/ceos/bankids/repository/ChallengeUserRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ChallengeUserService.java
  src/main/java/com/ceos/bankids/service/ChallengeUserServiceImpl.java
  src/main/java/com/ceos/bankids/service/ExpoNotificationServiceImpl.java
  src/main/java/com/ceos/bankids/service/FamilyUserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest2.java
Labels: For: API, Type: Feature, Type: Test

#253 v1.1.2 버전 배포
  src/main/java/com/ceos/bankids/controller/AppleController.java
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/mapper/ChallengeMapper.java
  src/main/java/com/ceos/bankids/repository/ChallengeUserRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ChallengeUserService.java
  src/main/java/com/ceos/bankids/service/ChallengeUserServiceImpl.java
  src/main/java/com/ceos/bankids/service/ExpoNotificationServiceImpl.java
  src/main/java/com/ceos/bankids/service/FamilyUserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest2.java
Labels: For: Deploy

#256 refactor: 돈길 저축 히스토리 위한 Delete 전략 변경
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/ChallengeUser.java
  src/main/java/com/ceos/bankids/domain/Comment.java
  src/main/java/com/ceos/bankids/domain/Progress.java
  src/main/java/com/ceos/bankids/service/ExpoNotificationServiceImpl.java
Labels: For: API
