Repository bankidz/bankidz-server, pull requests merged in 2022-07, with the labels that each got.

#4 Feature/login
  build.gradle
  src/main/java/com/ceos/bankids/config/CommonControllerAdvice.java
  src/main/java/com/ceos/bankids/config/CommonResponse.java
  src/main/java/com/ceos/bankids/config/WebClientConfig.java
  src/main/java/com/ceos/bankids/config/security/JwtAuthenticationFilter.java
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
  src/main/java/com/ceos/bankids/controller/KakaoController.java
  src/main/java/com/ceos/bankids/controller/request/KakaoRequest.java
  src/main/java/com/ceos/bankids/domain/Kid.java
  src/main/java/com/ceos/bankids/domain/Parent.java
  src/main/java/com/ceos/bankids/domain/User.java
  src/main/java/com/ceos/bankids/dto/LoginDTO.java
  src/main/java/com/ceos/bankids/dto/TokenDTO.java
  src/main/java/com/ceos/bankids/dto/UserDTO.java
  src/main/java/com/ceos/bankids/dto/oauth/KakaoAccountDTO.java
  src/main/java/com/ceos/bankids/dto/oauth/KakaoProfileDTO.java
  src/main/java/com/ceos/bankids/dto/oauth/KakaoTokenDTO.java
  src/main/java/com/ceos/bankids/dto/oauth/KakaoUserDTO.java
  src/main/java/com/ceos/bankids/repository/KidRepository.java
  src/main/java/com/ceos/bankids/repository/ParentRepository.java
  src/main/java/com/ceos/bankids/repository/UserRepository.java
  src/main/java/com/ceos/bankids/service/CustomUserDetailServiceImpl.java
  src/main/java/com/ceos/bankids/service/JwtTokenService.java
  src/main/java/com/ceos/bankids/service/JwtTokenServiceImpl.java
  src/main/resources/application.properties
  src/test/java/com/ceos/bankids/unit/controller/KakaoControllerTest.java
Labels: For: API, Type: Feature

#3 Feature/deploy
  .github/workflows/dev-deploy.yml
  .github/workflows/prod-deploy.yml
  .gitignore
  Dockerfile
  Dockerfile.prod
  build.gradle
  config/nginx/Dockerfile
  config/nginx/default.conf
  config/scripts/deploy.sh
  docker-compose.yml
Labels: Type: Feature, For: Deploy

#7 Feature/user
  build.gradle
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
  src/main/java/com/ceos/bankids/controller/KakaoController.java
  src/main/java/com/ceos/bankids/controller/UserController.java
  src/main/java/com/ceos/bankids/controller/request/UserTypeRequest.java
  src/main/java/com/ceos/bankids/domain/Kid.java
  src/main/java/com/ceos/bankids/domain/Parent.java
  src/main/java/com/ceos/bankids/domain/User.java
  src/main/java/com/ceos/bankids/dto/LoginDTO.java
  src/main/java/com/ceos/bankids/dto/UserDTO.java
  src/test/java/com/ceos/bankids/unit/controller/HealthCheckControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/UserControllerTest.java
Labels: For: API, Type: Feature

#9 Feature/tool
  build.gradle
  src/main/java/com/ceos/bankids/config/CommonControllerAdvice.java
  src/main/java/com/ceos/bankids/config/CommonResponse.java
  src/main/java/com/ceos/bankids/config/SwaggerConfig.java
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
  src/main/java/com/ceos/bankids/controller/HealthCheckController.java
  src/main/java/com/ceos/bankids/controller/KakaoController.java
  src/main/java/com/ceos/bankids/controller/UserController.java
  src/main/java/com/ceos/bankids/controller/request/KakaoRequest.java
  src/main/java/com/ceos/bankids/controller/request/UserTypeRequest.java
  src/main/java/com/ceos/bankids/dto/LoginDTO.java
  src/main/java/com/ceos/bankids/dto/UserDTO.java
  src/main/resources/application.properties
  src/main/resources/logback-spring.xml
  src/test/java/com/ceos/bankids/unit/controller/UserControllerTest.java
Labels: For: Script, Type: Docs/Chore

#10 feat: Challenge 생성 API 작성
  config/nginx/default.conf
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/controller/request/ChallengeRequest.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/ChallengeCategory.java
  src/main/java/com/ceos/bankids/domain/LinkChallenge.java
  src/main/java/com/ceos/bankids/domain/Progress.java
  src/main/java/com/ceos/bankids/domain/TargetItem.java
  src/main/java/com/ceos/bankids/domain/User.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/repository/ChallengeCategoryRepository.java
  src/main/java/com/ceos/bankids/repository/ChallengeRepository.java
  src/main/java/com/ceos/bankids/repository/LinkChallengeRepository.java
  src/main/java/com/ceos/bankids/repository/TargetItemRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
Labels: For: API, Type: Feature

#14 Fix: nginx 컨테이너 오류 수정
  .github/workflows/dev-deploy.yml
  config/nginx/default.conf
  docker-compose.yml
Labels: Type: Errors/Bugs, For: Deploy

#12 refactor: 유저 로그인/회원가입
  src/main/java/com/ceos/bankids/config/CommonControllerAdvice.java
  src/main/java/com/ceos/bankids/controller/KakaoController.java
  src/main/java/com/ceos/bankids/controller/UserController.java
  src/main/java/com/ceos/bankids/service/KakaoService.java
  src/main/java/com/ceos/bankids/service/KakaoServiceImpl.java
  src/main/java/com/ceos/bankids/service/UserService.java
  src/main/java/com/ceos/bankids/service/UserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/KakaoControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/UserControllerTest.java
Labels: For: API, Type: Refactor, Type: Test

#18 feat: Challenge 정보 가져오기 API 작성 / Challenge 생성 및 정보 가져오기 Test 완료
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/controller/request/ChallengeRequest.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/ChallengeCategory.java
  src/main/java/com/ceos/bankids/domain/ChallengeUser.java
  src/main/java/com/ceos/bankids/domain/TargetItem.java
  src/main/java/com/ceos/bankids/domain/User.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/repository/ChallengeUserRepository.java
  src/main/java/com/ceos/bankids/repository/LinkChallengeRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Feature

#20 feat: Challenge 포기 API 작성 / Challenge 관련 API들 Test 완료
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/repository/ChallengeUserRepository.java
  src/main/java/com/ceos/bankids/repository/ProgressRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#22 feat: 챌린지 리스트 가져오기 API 작성 / Test 코드 작성
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/repository/ChallengeUserRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#23 feat: 유저 관련 API 수정 및 리프레시 토큰
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
  src/main/java/com/ceos/bankids/controller/UserController.java
  src/main/java/com/ceos/bankids/controller/request/UserTypeRequest.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/ChallengeCategory.java
  src/main/java/com/ceos/bankids/domain/Family.java
  src/main/java/com/ceos/bankids/domain/Kid.java
  src/main/java/com/ceos/bankids/domain/Parent.java
  src/main/java/com/ceos/bankids/domain/TargetItem.java
  src/main/java/com/ceos/bankids/domain/User.java
  src/main/java/com/ceos/bankids/service/JwtTokenServiceImpl.java
  src/main/java/com/ceos/bankids/service/KakaoServiceImpl.java
  src/main/java/com/ceos/bankids/service/UserService.java
  src/main/java/com/ceos/bankids/service/UserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/KakaoControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/UserControllerTest.java
Labels: For: API, For: Utils, Type: Feature, Type: Test

#26 feat: 가족 생성하기
  src/main/java/com/ceos/bankids/controller/FamilyController.java
  src/main/java/com/ceos/bankids/dto/FamilyDTO.java
  src/main/java/com/ceos/bankids/dto/FamilyUserDTO.java
  src/main/java/com/ceos/bankids/repository/FamilyRepository.java
  src/main/java/com/ceos/bankids/repository/FamilyUserRepository.java
  src/main/java/com/ceos/bankids/service/FamilyService.java
  src/main/java/com/ceos/bankids/service/FamilyServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/FamilyControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#27 feat: 돈길 걷기(이번주 저금하기) API 작성 및 돈길 관련 API 응답에 progress 정보 추가
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/controller/ProgressController.java
  src/main/java/com/ceos/bankids/controller/request/ProgressRequest.java
  src/main/java/com/ceos/bankids/domain/AbstractTimestamp.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/ChallengeUser.java
  src/main/java/com/ceos/bankids/domain/Comment.java
  src/main/java/com/ceos/bankids/domain/Progress.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/dto/ProgressDTO.java
  src/main/java/com/ceos/bankids/repository/ProgressRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressService.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#30 feat: 가족 정보 조회
  src/main/java/com/ceos/bankids/controller/FamilyController.java
  src/main/java/com/ceos/bankids/service/FamilyService.java
  src/main/java/com/ceos/bankids/service/FamilyServiceImpl.java
  src/main/java/com/ceos/bankids/service/KakaoServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/FamilyControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#32 feat: 자녀 돈길 조회 API 및 자녀 요청 수락/거절 API
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/controller/request/KidChallengeRequest.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/ChallengeCategory.java
  src/main/java/com/ceos/bankids/domain/ChallengeUser.java
  src/main/java/com/ceos/bankids/domain/Comment.java
  src/main/java/com/ceos/bankids/domain/TargetItem.java
  src/main/java/com/ceos/bankids/domain/User.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/dto/KidChallengeListDTO.java
  src/main/java/com/ceos/bankids/repository/CommentRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#35 refactor: 돈길 생성 뷰 확정에 따른 Validation 추가 및 계약 대상 추가
  src/main/java/com/ceos/bankids/controller/request/ChallengeRequest.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/ChallengeUser.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Feature, Type: Refactor, Type: Test

#37 refactor: 순환참조 해결 방식 dto에 넣는 방식으로 변경 및 테스트 코드 수정
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/ChallengeCategory.java
  src/main/java/com/ceos/bankids/domain/ChallengeUser.java
  src/main/java/com/ceos/bankids/domain/Comment.java
  src/main/java/com/ceos/bankids/domain/Progress.java
  src/main/java/com/ceos/bankids/domain/TargetItem.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/dto/KidChallengeListDTO.java
  src/main/java/com/ceos/bankids/dto/ProgressDTO.java
  src/main/java/com/ceos/bankids/repository/ChallengeCategoryRepository.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/resources/application.properties
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Refactor, Type: Test

#38 refactor: annotation
  src/main/java/com/ceos/bankids/config/WebConfig.java
  src/main/java/com/ceos/bankids/controller/FamilyController.java
  src/main/java/com/ceos/bankids/domain/Family.java
  src/main/java/com/ceos/bankids/domain/FamilyUser.java
  src/main/java/com/ceos/bankids/domain/Kid.java
  src/main/java/com/ceos/bankids/domain/Parent.java
  src/main/java/com/ceos/bankids/domain/User.java
  src/main/java/com/ceos/bankids/dto/FamilyDTO.java
Labels: For: API, For: Utils, Type: Feature, Type: Refactor

#43 refactor: LocalDate 클래스 이용해서 주차정보 맞는 progress까지 보내기
  src/main/java/com/ceos/bankids/domain/Progress.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Feature, Type: Refactor, Type: Test

#45 feature: 돈길 생성 개수 제한 Validation 추가 및 돈길 걷기 시 savings update 추가
  src/main/java/com/ceos/bankids/controller/request/ChallengeRequest.java
  src/main/java/com/ceos/bankids/domain/Kid.java
  src/main/java/com/ceos/bankids/domain/Parent.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#47 feat: 유저 정보 조회 API 및 자잘한 수정
  src/main/java/com/ceos/bankids/controller/UserController.java
  src/main/java/com/ceos/bankids/domain/Kid.java
  src/main/java/com/ceos/bankids/domain/Parent.java
  src/main/java/com/ceos/bankids/dto/KidDTO.java
  src/main/java/com/ceos/bankids/dto/LoginDTO.java
  src/main/java/com/ceos/bankids/dto/MyPageDTO.java
  src/main/java/com/ceos/bankids/dto/ParentDTO.java
  src/main/java/com/ceos/bankids/service/JwtTokenServiceImpl.java
  src/main/java/com/ceos/bankids/service/KakaoServiceImpl.java
  src/main/java/com/ceos/bankids/service/UserService.java
  src/main/java/com/ceos/bankids/service/UserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/UserControllerTest.java
Labels: For: API, Type: Feature, Type: Refactor, Type: Test

#51 feat/fix: isAchieved 타입 수정 및 validation추가, 돈길 걷기 / 생성 시 해당 컬럼 값 업데이트 추가와 github action 수정
  .github/workflows/dev-deploy.yml
  .gitignore
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/domain/Comment.java
  src/main/java/com/ceos/bankids/domain/Kid.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/main/java/com/ceos/bankids/service/UserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Errors/Bugs, Type: Feature, Type: Refactor, Type: Test, For: Deploy

#52 feat: 아이들 목록 조회 API
  src/main/java/com/ceos/bankids/controller/FamilyController.java
  src/main/java/com/ceos/bankids/domain/Kid.java
  src/main/java/com/ceos/bankids/dto/KidListDTO.java
  src/main/java/com/ceos/bankids/service/FamilyService.java
  src/main/java/com/ceos/bankids/service/FamilyServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/FamilyControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#54 돈길 생성 / 돈길 수락 시 컬럼 업데이트 추가 및 github action 수정
  .github/workflows/prod-deploy.yml
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Feature, Type: Refactor, Type: Test, For: Deploy

#56 feat: 테스트 코드 작성
  build.gradle
  src/main/java/com/ceos/bankids/service/JwtTokenServiceImpl.java
  src/main/java/com/ceos/bankids/service/KakaoServiceImpl.java
  src/main/resources/application.properties
  src/test/java/com/ceos/bankids/BankidsApplicationTests.java
  src/test/java/com/ceos/bankids/unit/controller/KakaoControllerTest.java
  src/test/java/com/ceos/bankids/unit/service/CustomUserDetailServiceTest.java
  src/test/java/com/ceos/bankids/unit/service/JwtTokenServiceTest.java
Labels: For: API, For: Utils, Type: Test

#58 feat: 유저 loginDTO에 level 값 추가 & 자녀 리스트 조회 코드 일부 리팩토링
  build.gradle
  src/main/java/com/ceos/bankids/controller/FamilyController.java
  src/main/java/com/ceos/bankids/dto/LoginDTO.java
  src/main/java/com/ceos/bankids/service/FamilyServiceImpl.java
  src/main/java/com/ceos/bankids/service/UserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/KakaoControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/UserControllerTest.java
Labels: For: API, Type: Feature, Type: Refactor, Type: Test

#59 refactor: format.parse 로직 전부 calendar로 리팩
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/UserServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Refactor, Type: Test

#61 feat: Logger 추가
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/controller/FamilyController.java
  src/main/java/com/ceos/bankids/controller/KakaoController.java
  src/main/java/com/ceos/bankids/controller/ProgressController.java
  src/main/java/com/ceos/bankids/controller/UserController.java
  src/main/java/com/ceos/bankids/controller/request/ChallengeRequest.java
  src/main/java/com/ceos/bankids/controller/request/ProgressRequest.java
  src/main/resources/application.properties
Labels: For: Utils, Type: Feature

#64 fix: 주차 Validation 삭제
  Dockerfile
  Dockerfile.prod
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Status: URGENT, Type: Errors/Bugs

#66 feat: 돈길 완주 실패 / 완주 성공 추가
  src/main/java/com/ceos/bankids/controller/HealthCheckController.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Feature, Type: Test

#67 [v0.0.2] 완주 성공 실패 업데이트
  Dockerfile
  Dockerfile.prod
  README.md
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
  src/main/java/com/ceos/bankids/controller/HealthCheckController.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: Deploy

#68 [v0.0.3] 토큰 테스트를 위한 배포
  README.md
  src/main/java/com/ceos/bankids/controller/HealthCheckController.java
  src/main/java/com/ceos/bankids/service/JwtTokenServiceImpl.java
Labels: For: Deploy

#70 feat: jwtExceptionFilter로 unauthorized 처리
  src/main/java/com/ceos/bankids/config/security/JwtAuthenticationFilter.java
  src/main/java/com/ceos/bankids/config/security/JwtExceptionFilter.java
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
Labels: For: Utils, Type: Feature

#71 [v0.0.4] 토큰 만료 시 response 테스트 위한 배포
  src/main/java/com/ceos/bankids/config/security/JwtAuthenticationFilter.java
  src/main/java/com/ceos/bankids/config/security/JwtExceptionFilter.java
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
Labels: For: Utils, Type: Feature

#73 chore: 테스트 이후 개발 위한 코드 변경
  src/main/java/com/ceos/bankids/service/JwtTokenServiceImpl.java
  src/main/java/com/ceos/bankids/service/UserServiceImpl.java
Labels: For: Utils, Type: Docs/Chore

#74 [v0.0.5] 토큰 만료 테스트 이후 개발 환경으로 복구 위한 배포
  src/main/java/com/ceos/bankids/service/JwtTokenServiceImpl.java
  src/main/java/com/ceos/bankids/service/UserServiceImpl.java
Labels: For: Utils, Type: Docs/Chore

#76 feat: 자녀 / 부모에 따른 api 접근 권한 Validation 추가
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Feature, Type: Refactor, Type: Test

#78 feat: 일요일 검사 Validation 추가 및 돈길 삭제 API에서 해당 돈길 못 찾을시 400에러로 리팩토링
  src/main/java/com/ceos/bankids/BankidsApplication.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Feature, Type: Refactor, Type: Test

#80 fix: 거절당한 돈길 삭제 시 Validation 안타게 수정
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Errors/Bugs, Type: Refactor, Type: Test

#82 refactor: 돈길 삭제하기 시 responseDTO 추가
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/dto/DeleteChallengeDTO.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: For: API, Type: Refactor, Type: Test

#83 [v0.0.6] 프론트 요청 수정사항 및 에러 잡고 반영
  src/main/java/com/ceos/bankids/BankidsApplication.java
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/dto/DeleteChallengeDTO.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: Deploy

#85 fix: v0.0.6
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
Labels: For: API, Status: URGENT, Type: Errors/Bugs

#86 [v0.0.6] 발생한 에러 잡기
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
Labels: For: Deploy

#88 feat: 자녀의 돈길 걷기 성공한 주차 수 컬럼 추가 및 삭제 API 수정
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Errors/Bugs, Type: Feature, Type: Refactor, Type: Test

#90 refactor: 돈길 걷기 API 수정
  src/main/java/com/ceos/bankids/controller/ProgressController.java
  src/main/java/com/ceos/bankids/controller/request/ProgressRequest.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressService.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: API, Type: Feature, Type: Refactor, Type: Test

#91 [v0.1.0] 나름 에러 잡은 버전 배포
  src/main/java/com/ceos/bankids/config/security/WebSecurityConfig.java
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/controller/ProgressController.java
  src/main/java/com/ceos/bankids/controller/request/ProgressRequest.java
  src/main/java/com/ceos/bankids/domain/Challenge.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/main/java/com/ceos/bankids/service/ProgressService.java
  src/main/java/com/ceos/bankids/service/ProgressServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
  src/test/java/com/ceos/bankids/unit/controller/ProgressControllerTest.java
Labels: For: Deploy

#92 [v0.1.0] fix: 돈길 걷기 API 로그 추가
  src/main/java/com/ceos/bankids/controller/ProgressController.java
Labels: For: Deploy

#94 [v0.1.1] 수정버전 배포
  src/main/java/com/ceos/bankids/controller/ChallengeController.java
  src/main/java/com/ceos/bankids/dto/ChallengeDTO.java
  src/main/java/com/ceos/bankids/dto/DeleteChallengeDTO.java
  src/main/java/com/ceos/bankids/dto/KidChallengeListDTO.java
  src/main/java/com/ceos/bankids/dto/ProgressDTO.java
  src/main/java/com/ceos/bankids/dto/WeekDTO.java
  src/main/java/com/ceos/bankids/service/ChallengeService.java
  src/main/java/com/ceos/bankids/service/ChallengeServiceImpl.java
  src/test/java/com/ceos/bankids/unit/controller/ChallengeControllerTest.java
Labels: Type: Errors/Bugs, For: Deploy
